<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com">

    <!-- PERMISOS INDISPENSABLES PARA EL JUEGO ONLINE -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="Keldurn Universal"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:hardwareAccelerated="true"> <!-- FUERZA EL USO DEL PROCESADOR GRÁFICO (GPU) -->
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
